DB_ENGINE_PROVIDER=MySQL
DB_ENGINE_HOSTPORT=localhost:3306
DB_ENGINE_USERNAME=svc_bridge
DB_ENGINE_PASSWORD=supersecretpassword1
DB_ENGINE_DATABASE=bridgeapp
DB_ENGINE_ROOT_PASSWORD=supersecretpassword2
AUTH_SERVER_JWT_SECRET=randomseed1
AUTH_SERVER_KEY_SEED=randomseed2
AUTH_SERVER_TABLE_USERS=users
AUTH_SERVER_TABLE_MSA_SESSIONS=msa_sessions
AUTH_SERVER_TABLE_AUTH_SESSIONS=server_sessions

MSA_CLIENT_ID=11111111-2222-3333-4444-555555555555
MSA_CLIENT_SECRET=clientsecretfromazure
BASE_URL=https://localhost:5001

PROFILE_DUMMY_EMAIL_DOMAIN=dummy.example.com

# ENVIRONMENT=production # (or development)
# GENERATE_KEYSTORE=false # (default: false in production, true in development)
#
### MSA configuration
# MSA_KEYSTORE_NAME=msa-token-keystore.p12
# MSA_KEYSTORE_PATH=/data/$MSA_KEYSTORE_NAME
# MSA_KEYSTORE_PASS=yoursupersecretmsapassword
#
### TLS configuration
## Uncomment the following to use a keystore for TLS.
# TLS_KEYSTORE_NAME=generated-tls-keystore.p12
# TLS_KEYSTORE_PATH=/data/$TLS_KEYSTORE_NAME
# TLS_KEYSTORE_PASS=yoursupersecrettlspassword
## Uncomment the following to use a certificate and private key for TLS.
# TLS_CERTIFICATE_PATH=/path/to/tls/certificate.crt
# TLS_PRIVATE_KEY_PATH=/path/to/tls/private.key
