DB_ENGINE_PROVIDER=MySQL
DB_ENGINE_HOSTPORT=localhost:3306
DB_ENGINE_USERNAME=svc_bridge
DB_ENGINE_PASSWORD=supersecretpassword1
DB_ENGINE_DATABASE=bridgeapp
DB_ENGINE_ROOT_PASSWORD=supersecretpassword2
AUTH_SERVER_JWT_SECRET=randomseed1
AUTH_SERVER_KEY_SEED=randomseed2
AUTH_SERVER_TABLE_USERS=users
AUTH_SERVER_TABLE_MSA_SESSIONS=msa_sessions
AUTH_SERVER_TABLE_AUTH_SESSIONS=server_sessions

MSA_CLIENT_ID=11111111-2222-3333-4444-555555555555
MSA_CLIENT_SECRET=clientsecretfromazure
BASE_URL=https://localhost:5001

PROFILE_DUMMY_EMAIL_DOMAIN=dummy.example.com